@import url("clear.css");
@import url("common.css");
@import url("slider.css");

body {
	color: #182D4C;
}

/* Header + NavBar */
.header__main {
	background-color: #182D4C;
}

.header__body {
	padding: 0 20px;
}

.header__body__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__logo {
	max-width: 120px;
	padding: 0px 21px;
	background-color: #FD7C05;
	object-fit: cover;
}

.menu__logo img {
	width: 100%;
	height: 100%;
}

.menu__link a {
	font-size: 18px;
	color: white;
}

.menu__lang {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu__lang {
	object-fit: cover;
	object-position: center;
	height: 40px;
	width: 40px;
}

.menu__lang img {
	width: 100%;
	/* height: 40px; */
}

/* Header + NavBar end */

/* About Page */
.main__about {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0px;
}

.photo__contein {
	height: 300px;
}

.photo__contein img {
	width: 100%;
	height: 100%;
}

.main__about__photo {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__about__text {
	width: 50%;
}

.about {
	padding: 50px 0px;
	text-align: center;
}

.about__title {
	font-size: 24px;
	font-weight: 700;
}

.main__about__text p {
	font-size: 18px;
	line-height: 2;
	font-weight: 700;
}